<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Colorlib Templates" />
    <meta name="author" content="Colorlib" />
    <meta name="keywords" content="Colorlib Templates" />

    <!-- Title Page-->
    <title>Add Variant Form</title>

    <!-- Icons font CSS-->
    <link
      href="/admin/assets/node_modules2/morrisjs/morris.css"
      rel="stylesheet"
    />
    <link href="/admin/dist/css/pages/ecommerce.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/admin/dist/css/style.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="preloader">
      <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Elite admin</p>
      </div>
    </div>
    <div class="main-wrapper">
      <%-include('partials/header')%> <%-include('partials/sidebar')%>
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Dashboard</h4>
          </div>
          <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Product Variants Form</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Form Section -->
      <div class="container d-flex justify-content-center" style="margin-top: 5rem;">
        <form class=" p-4" style="border-radius: .5rem;background-color: gray;color: white" action="/admin/product/add_variant/<%= id %>" method="post" enctype="multipart/form-data">
          <div class="text-center py-3">
            <h2 class="font-weight-bold">Add Variants form</h2>
          </div>
        
  <!-- Product Name -->
     <div class="form-outline mb-4">
      <label for="form6Example13" class="form-label">Product Name</label>
      <select class="form-control" aria-label="Default select example" id=
      "form6Example13"  name="product">
        <option selected value="null">Select Product Name</option>
        <% products.forEach((p,i) => { %>
          <option value="<%= p %>"><%= p %></option>
        <% }) %>
      </select>
    </div>

   <!-- Color -->
 <div class="form-outline mb-4">
    <label class="form-label" for="form6Example2">Color</label>
    <input type="text" id="form6Example2" class="form-control" name="color"/> 
</div>

<!-- Images -->
 <div class="form-outline mb-4">
    <label class="form-label" for="form6Example2">Images</label>
    <input type="file" id="form6Example2" class="form-control" name="images" multiple/> 
</div>

  <!-- Submit button -->
  <div class="mb-6">
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Add Variants"/>
  </div>
</form>
      </div>
</div>
    </div>
    <script src="/admin/assets/node_modules2/jquery/jquery-3.2.1.min.js"></script>
    <script src="/admin/assets/node_modules2/popper/popper.min.js"></script>
    <script src="/admin/assets/node_modules2/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/admin/dist/js/waves.js"></script>
    <script src="/admin/dist/js/sidebarmenu.js"></script>
    <script src="/admin/dist/js/custom.min.js"></script>
  </body>
</html>

