<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add Address</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/users/images/icons/favicon.png" />
    <%- include('layout/layout')%>
  </head>
  <body class="animsition">
    <!-- Header -->

    <%- include('partials/header.ejs') %>

    <!-- Content page -->
    <div class="container" style="margin: 3rem auto">
      <div class="row">
        <div class="col-md-8 mb-4" style="margin: 0 auto">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Address Form</h5>
            </div>
            <div class="card-body">
              <form action="/users/profile/addAddress/<%= id %>" method="post">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <span style="display: block; color: red; margin-bottom: 0.5rem"
                  ><%= error %></span
                >
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form7Example1"
                        class="form-control"
                        name="city"
                      />
                      <label class="form-label" for="form7Example1">City</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form7Example2"
                        class="form-control"
                        name="state"
                      />
                      <label class="form-label" for="form7Example2"
                        >State</label
                      >
                    </div>
                  </div>
                </div>

                <!-- Text input -->
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form7Example4"
                    class="form-control"
                    name="address"
                  />
                  <label class="form-label" for="form7Example4">Address</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input
                    type="number"
                    id="form7Example5"
                    class="form-control"
                    name="pincode"
                  />
                  <label class="form-label" for="form7Example5">Pincode</label>
                </div>

                <!-- Number input -->
                <div class="form-outline mb-4">
                  <input
                    type="number"
                    id="form7Example6"
                    class="form-control"
                    name="phone"
                  />
                  <label class="form-label" for="form7Example6">Phone</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-2">
                  <input
                    class="form-control"
                    type="submit"
                    value="Add Address"
                    id="form7Example8"
                    style="
                      background-color: cornflowerblue;
                      color: #fff;
                      font-weight: 600;
                      cursor: pointer;
                    "
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </span>
    </div>
    <script
      type="text/javascript"
      src="/users/vendor/jquery/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/users/vendor/animsition/js/animsition.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/users/vendor/bootstrap/js/popper.js"
    ></script>
    <script src="/users/js/main.js"></script>
  </body>
</html>
