<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order Details</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/users/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/fonts/themify/themify-icons.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/fonts/elegant-font/html-css/style.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/slick/slick.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/users/vendor/lightbox2/css/lightbox.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/users/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/users/css/main.css" />
    <link rel="stylesheet" href="/users/css/order_details.css" />
    <link rel="stylesheet" href="/users/css/orderTrack.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!--===============================================================================================-->
  </head>
  <body class="animsition">
    <!-- Header -->

    <%- include('partials/header.ejs') %>

    <!-- Content page -->
    <div class="container-fluid" style="margin: 1rem 0 4rem 0">
     <div class="container-fluid  d-flex  justify-content-center mb-5">
        <div class="card card-1">
            <div class="card-header bg-white">
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto"> <h6 class="color-1 mb-0 change-color">Receipt</h6> </div>
                    <div class="col-auto  "> <small>Receipt Voucher : 1KAU9-84UIL</small> </div>
                </div>
               
                <div class="row mt-4">
                    <div class="col">
                        <div class="card card-2 w-100">
                            <div class="card-body">
                                <div class="media px-3">
                                    <div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/admin/products/<%=orderDetail.image%>" width="135" height="135" /> </div>
                                    <div class=" my-auto  media-body">
                                        <div class="row  my-auto flex-md-row sub-body">
                                            <div class=""> <h6 class="mb-0"><%= orderDetail.name%></h6> </div>
                                            <div class=""> <small>Size : <%= orderDetail.size%></small></div>
                                            <div class=""> <small>Qty : <%= orderDetail.quantity%></small></div>
                                            <div class="">  <h6 class="mb-0">&#8377; <%= orderDetail.price.toLocaleString() %></h6>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row justify-content-between px-3">
                                    <div>  <h6 class="mb-0">Payment Method: <%= orderDetail.paymentMode %></h6>
                                  </div>
                                  <% if(orderDetail.orderStatus === "cancelled" || orderDetail.orderStatus === "payment failed"){%>
                                    <div>  <h6 class="mb-0">Order Status: <span style="color: red; font-size: 1rem; display: inline"><%= orderDetail.orderStatus %></span></h6>
                                  </div>
                                  <%}%>
                                  <div>  <h6 class="mb-0">Purchased Date: <%= orderDetail.purchaseDate %></h6>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-auto"><p class="mb-1 text-dark"><b>Shipping Address</b></p></div>
                        </div>
                    </div>
                </div>
                <div class="row invoice ">
                    <div class="col"><p class="mb-1"> Address : <%= orderDetail.shippingAddress.address%></p><p class="mb-1">City : <%= orderDetail.shippingAddress.city%></p><p class="mb-1">State :<%= orderDetail.shippingAddress.state%></p><p class="mb-1">Mobile No :<%= orderDetail.shippingAddress.phone%></p><p class="mb-1">Pincode :<%= orderDetail.shippingAddress.pincode%></p</div>
                </div>
            </div>
              <div class="card-body">
            <div class="track">
                
              <% if(orderDetail.orderStatus !== "cancelled" && orderDetail.orderStatus !== "payment failed"){%>
                <% if(orderDetail.orderStatus === "processing"){%>
                  <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Processing</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
              <%}else if(orderDetail.orderStatus === "shipped"){%>
                  <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Processing</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
              <%}else {%>
                 <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Processing</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
              <%}%>
            </div>
              <%}%>
            <div class="mt-4 text-center w-100">
              <a href="/users/orders/<%=id%>" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
            </div>
    </div>
        </div>
        </div>
</div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </span>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/users/vendor/jquery/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/users/vendor/animsition/js/animsition.min.js"
    ></script>
    <script src="/users/js/main.js"></script>
  </body>
</html>
